[submodule "roles/common-utils"]
	path = roles/common-utils
	url = https://github.com/gitinsky/ansible-role-common-utils.git
[submodule "roles/etckeeper"]
	path = roles/etckeeper
	url = https://github.com/gitinsky/ansible-role-etckeeper.git
[submodule "roles/graphite"]
	path = roles/graphite
	url = https://github.com/gitinsky/ansible-role-graphite.git
[submodule "roles/collectd"]
	path = roles/collectd
	url = https://github.com/gitinsky/ansible-role-collectd.git
[submodule "roles/eye"]
	path = roles/eye
	url = https://github.com/gitinsky/ansible-role-eye.git
[submodule "roles/ruby-rvm"]
	path = roles/ruby-rvm
	url = https://github.com/gitinsky/ansible-role-ruby-rvm.git
[submodule "roles/grafana-dockerized"]
	path = roles/grafana-dockerized
	url = https://github.com/gitinsky/ansible-role-grafana-dockerized.git
[submodule "roles/grafana-container"]
	path = roles/grafana-container
	url = https://github.com/gitinsky/ansible-role-grafana-container.git
[submodule "roles/prometheus-container"]
	path = roles/prometheus-container
	url = https://github.com/gitinsky/ansible-role-prometheus-container.git
[submodule "roles/graphite-exporter-container"]
	path = roles/graphite-exporter-container
	url = https://github.com/gitinsky/ansible-role-graphite-exporter-container.git
